{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- =-=-=-=-=-= CSS =-=-=-=-=-= -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/cad_atividade.css' %}"
    />

    <!-- =-=-=-=-=-= ICON FAV =-=-=-=-=-= -->
    <link
      rel="shortcut icon"
      type="icon"
      href="{% static 'imagens/logo.png' %}"
    />

    <title>Cadastro Atividade</title>
  </head>


<body>
    <header>
        <div class="logo">
            <img src="{% static 'imagens/logo.png' %}" />
            <h1>SCHOOL</h1>
        </div>
    </header>

    <div class="fundo_menu">
        <div class="nome_sistema">
            <h1>Sistema de Apoio aos Professores</h1>
        </div>
        <nav class="menu">
            <ul>
                <li id="nome_logado"> Professor(a) logado:<a href=""> {{usuario_logado}} | </a></li>
                <li><a href="../accounts/logout">SAIR</a></li>
            </ul>
        </nav>
    </div>
    
    <main>
        <div class="form-turma container">
            <form action="{% url 'salvar_atividade_nova' %}" method="post">
                {% csrf_token %}
                <div class="form-content">
                    <h1>Cadastre uma nova atividade:</h1>
                    <label for="descrition">Nome:</label>
                    <input type="hidden" name="id_turma" value="{{ id_turma }}">
                    <input type="hidden" name="id_logado" value="{{ id_logado }}">
                    <input type="text" id="nome_turma" name="nome_turma" value="" placeholder="Insira o nome da atividade">
                    <a style="display: flex;justify-content: center;font-size: 14px;padding-bottom: 10px; color: #ec6290de">Mínimo 3 caractéres</a>
                </div>
                <div class="botoes">
                    <div class="botao-confirmar">
                        <button type="submit">Cadastrar</button>
                    </div>
                </div>
            </form>
            <div class="error-message">
                <!--Mensagem de erro inserida aqui-->
            </div>
        </div>
        <div class="tabela">
            <h2>Lista de Atividades:</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome da Atividade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for atividade in atividades_da_turma %}
                        <tr>
                            <td>{{ atividade.id }}</td>
                            <td>{{ atividade.nome_atividade }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
