{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- =-=-=-=-=-= CSS =-=-=-=-=-= -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/cad_turma.css' %}"
    />

    <!-- =-=-=-=-=-= ICON FAV =-=-=-=-=-= -->
    <link
      rel="shortcut icon"
      type="icon"
      href="{% static 'imagens/logo.png' %}"
    />

    <title>Cadastro Turma</title>
  </head>

<body>

    <header>
        <div class="logo">
            <img src="{% static 'imagens/logo.png' %}" />
            <h1>SCHOOL</h1>
        </div>
    </header>

    <div class="fundo_menu">
        <div class="nome_sistema">
            <h1>Sistema de Apoio aos Professores</h1>
        </div>
        <nav class="menu">
            <ul>
                <li id="nome_logado"> Professor(a) logado:<a href=""> {{usuario_logado}} | </a></li>
                <li><a href="../accounts/logout">SAIR</a></li>
            </ul>
        </nav>
    </div>
    

    

<div class="principal">
    <div class="container">
        <section class="enquadramento">
            <h1> Cadastro de Turmas </h1>
        </section>
        
        {% if messages %}
        <ul class="mensagem_do_servidor" style="text-align:center">
            {% for mensagem in messages %}
            <li style="text-align: center;"{% if mensagem.tags %}class="alert alert-{{message.tags}}"{% endif %}>{{mensagem}}</li>
            {% endfor %}
            
        </ul>

        {% endif %}

        <form id="form" class="form" method="post" action="{% url 'salvar_turma_nova' %}">{% csrf_token %}
            <div class="form-content">

                <input type="hidden" name="id_professor" id="id_logado" value="{{id_logado}}"/>
                <input type="text" id="nome_turma" name="nome_turma" value="" placeholder="Digite o nome da turma"/>
                <span style="color:#ec6290de">O nome deve ter mínimo 3 caracteres</span>
            </div>

            <div class="botoes">
                <div class="botao-confirmar">
                    <button type="submit" class="btn_conf_cancel btn_confirmar">Cadastrar</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
