{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cad_turma.css' %}">
    <title>Cadastro de Turma</title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-bar">

                <h1 id="nome_logado">Cadastro de Turmas do Professor(a) {{usuario_logado}}</h1>
                <button>Sair</button>

            </div>
        </nav>
    </header>

    <main>
        <div class="form-turma">
            <div class="turmas">
                <form id="form" class="form" action="{% url 'salvar_turma_nova' %}" method="post">{% csrf_token %}
                    <h1>Cadastre uma nova turma:</h1>

                    <label for="descrition">Nome:</label>

                    <input type="hidden" name="id_professor" id="id_logado" value="{{id_logado}}">
                    <input type="text" id="nome_turma" name="nome_turma" value="" placeholder="Insira o nome da turma">
                    <a style="display: flex;justify-content: center;font-size: 14px;padding-bottom: 10px;">Mínimo 3 caractéres</a>
                    <button type="submit" class="btn_conf_cancel btn_confirmar">Cadastrar</button>
                </form>
            </div>

            <div class="error-message">
                <!--Mensagem de erro inserida aqui-->
            </div>

        </div>
    </main>

</body>

</html>