{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- =-=-=-=-=-= CSS =-=-=-=-=-= -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/login.css' %}"
    />

    <!-- =-=-=-=-=-= ICON FAV =-=-=-=-=-= -->
    <link
      rel="shortcut icon"
      type="icon"
      href="{% static 'imagens/logo.png' %}"
    />

    <title>Inicio</title>
  </head>

  <body>
    <header>
      <img src="{% static 'imagens/logo.png' %}" />
      <h1>SCHOOL</h1>
    </header>

    <div class="main-box">
      <h2>
        <div style="font-size: 70px; color: #ec6290de">
          Avance com seus
          <span style="color: rgba(185, 132, 209, 0.938)">estudos</span>
        </div>
        <br />
        Uma oportunidade ensino com
        <span style="color: rgba(185, 233, 171, 0.938)">qualidade!</span>
      </h2>

      <div class="img-box">
        <img src="{% static 'imagens/main.png' %}" />
      </div>
    </div>

    <div class="form-area">
      <h2>Realize seu Login</h2>
      <p>Bem Vindo de volta!</p>
      <form action="{% url 'enviar_login' %}" method="post">
        {% csrf_token %}
        <div class="overlay"></div>
        <!-- Adicione o overlay aqui -->
        <div class="error-message">
          <!-- Mensagem de erro será inserida aqui -->
        </div>
        <br />
        <h3>Login</h3>
        {% if messages %}
        <ul class="mensagem_do_servidor">
          {% for mensagem in messages %}
          <li
            {%
            if
            mensagem.tags
            %}class="alert alert-{{ message.tags }}"
            {%
            endif
            %}
            style="color: #b770d3"
          >
            {{ mensagem }}
          </li>
          <!-- Substitua #ff0000 pela cor desejada em formato hexadecimal, RGB ou nome da cor -->
          {% endfor %}
        </ul>
        {% endif %}

        <div class="input-group">
          <label for="email">E-mail</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Digite o seu email"
            required
          />
        </div>

        <div class="input-group w50">
          <label for="senha">Senha</label>
          <input
            type="password"
            name="senha"
            id="senha"
            placeholder="Digite sua senha"
            required
          />
        </div>

        <div class="input-group">
          <button class="button">Login</button>
        </div>
      </form>
    </div>

    <!-- =-=-=-=-=-= FOOTER =-=-=-=-=-= -->
    <footer>
      <h4><span>Feito por Millena Sunara</span></h4>
    </footer>
	
  </body>
</html>
