/* cadastro.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffb2cc;
}

.topart {
    height: 100px; /* ou a altura desejada para o cabeçalho */
    background-color: #ff8cb2; /* cor do cabeçalho */
}

main {
    padding: 20px;
}

form {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    padding: 20px;
}

.welcome-message {
    text-align: center;
    margin-bottom: 20px;
}

.nome,
.email,
.senha {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #333; /* cor do ícone */
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: calc(100% - 40px);
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #ccc; /* cor da borda */
    border-radius: 5px;
    outline: none;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ff8cb2; /* cor do botão */
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #ff6b8b; /* cor do botão ao passar o mouse */
}

.error-message {
    text-align: center;
    color: red; /* cor da mensagem de erro */
    margin-top: 20px;
}
